body {
    background: #f0f2f5;
    font-family: Arial, sans-serif;
}

.atm-box {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}

h2 {
    color: #2c3e50;
}

.balance {
    font-size: 20px;
    margin: 15px 0;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

.buttons button {
    width: 30%;
    padding: 8px;
    margin: 5px;
    border: none;
    background: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background: #2980b9;
}

#message {
    margin-top: 15px;
    font-weight: bold;
}
